*{
    margin: 0px;
    padding:0;
    margin-top: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#be89b8, #6bd5c5);
    background-repeat: no-repeat;
    height: 100vh;
    
}

.item_1{
    width: fit-content;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    text-align: center ;
    box-shadow: 1px 2px rgb(66, 66, 66);

}
.item_2{

    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.item_3{
    width: 250px;
    height: 300px;
    padding-left: 5px;
    border-radius: 5px;
}
.item_4{
    font-size: 17px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    width: 170px;
    text-align: center ;
    border: 1px solid gray ;
    font-size: 17px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(to left, #5a98d6,#16518c);
}

